@font-face {
  font-family: yekan;
  src: url(./assets//font/Yekan.ttf);
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
  font-family: yekan;
}

.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 100% !important;
  margin: 0 auto;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
